  <div class="col-xs-12 col-sm-11 content back-col">
    <div class="col-xs-12 col-sm-8 pad0">
      <div class="container-fluid ">
      <div class="row">
        <div class="col-xs-12 uni_dash_name">

          <div class="col-xs-12 col-sm-6 uni_seal_container text-center">
            <%= image_tag("stanford_seal.gif", :class=> "img-thumbnail img-circle img-responsive uni_seal") %>
          </div>
          <div class="col-xs-12 col-sm-6" >
            <h4>STANFORD UNIVERSITY </h4><br/>
            Established in 1891<br/>
            Private University<br/>
            Located in Stanford, California, U.S.<br/>
            Suburban Campus covering 8,180 acres <br/>
            Number of Students 15,877<br/>
            President John L. Hennessy<br/>
            Provost John Etchemendy<br/>
            Visit Stanford Website : <a href="http://www.stanford.edu/">Stanford.edu</a><br/>
          </div>
        </div>    
        <div class=" col-xs-12 col-sm-6 uni_dash_name uni_dash_courses">
          <h4 style="text-align:center">COURSES OFFERED</h4>
          <ul>
            <li>Architecture (B.Arch.)</li>
            <li>Bachelor of Technology (B.Tech.)</li>
            <li>B.Com</li>
            <li>BCA</li>
            <li>MS</li>
            <li>M.Tech.</li>
            <li>MBA.</li>
            <li>M.Phil.</li>
            <li>PhD.</li>
            <li>M.Pharma.</li>
            <li>Journalism</li>
            <li>Fashion Technology</li>
          </ul>
        </div>  

        <div class="col-xs-12 col-sm-5 uni_dash_name uni_dash_internal uni_dash_courses" >
          <h4 style="text-align:center;text-transform: uppercase;">Scholarship Courses</h4>
           <ul>
            <li>Architecture (B.Arch.)</li>
            <li>Bachelor of Technology (B.Tech.)</li>
            <li>B.Com</li>
            <li>BCA</li>
            <li>MS</li>
            <li>M.Tech.</li>
            <li>MBA.</li>
            <li>M.Phil.</li>
            <li>PhD.</li>
            <li>M.Pharma.</li>
            <li>Journalism</li>
            <li>Fashion Technology</li>
          </ul>
        </div>
        
      </div>
      
     </div>
    </div>  
    <div class="col-xs-12 col-sm-4 pad0">
      <div class="uni_dash_desc">
      <h4 style="text-transform: uppercase;text-align:center">DESCRIPTION</h4><br/>
      Leland Stanford Junior University, commonly referred to as Stanford University, is a private research university in Stanford, California in the northwestern Silicon Valley near Palo Alto. It has produced the largest number of Turing Award laureates for a single academic institution and is the alma mater of 30 living billionaires and 17 astronauts. Stanford is also one of the leading producers of members of the United States Congress.<br/>
      Stanford is currently organized into seven academic Schools with a student body of approximately 7,000 undergraduates and 8,900 graduates. Its academic reputation and eminent alumni have made it one of the most prestigious universities in the world. Since 1952, 58 Nobel laureates have been affiliated with the university. Moreover, it has produced the largest number of Turing Award laureates for a single academic institution and is the alma mater of 30 living billionaires and 17 astronauts. Faculty and alumni have founded many companies including Google, Hewlett-Packard, Nike, Sun Microsystems, and Yahoo!, and companies founded by Stanford alumni generate more than $2.7 trillion in annual revenue, equivalent to the 10th-largest economy in the world 
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 pad0">
      <div class=" uni_dash_down">
      <div ><h4 style="text-align:center">PLACEMENTS</h4></div>
      <div class="col-xs-12 pad 0">
        
       

<ul id="flexiselDemo3">
    <li><%= image_tag("1.jpg") %></li>
    <li><%= image_tag("1.jpg") %></li>
    <li><%= image_tag("1.jpg") %></li>
    <li><%= image_tag("1.jpg") %></li>                                                 
</ul>    

 
   

<script type="text/javascript">

$(window).load(function() {
    

    $("#flexiselDemo3").flexisel({
        visibleItems: 5,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,            
        pauseOnHover: true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: { 
            portrait: { 
                changePoint:480,
                visibleItems: 1
            }, 
            landscape: { 
                changePoint:640,
                visibleItems: 2
            },
            tablet: { 
                changePoint:768,
                visibleItems: 3
            }
        }
    });

    
});
</script>
      </div>  
     </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 pull-left pad0" >
      <div class="uni_dash_down"><h4 style="text-transform: uppercase;text-align:center">Student Accomodation</h4></div>
    </div>
    <div class="col-xs-12 col-sm-6 pull-right pad0" >
      <div class="uni_dash_down"><h4 style="text-transform: uppercase;text-align:center">Faculty Qualifications</h4></div>
    </div>
    <div class="col-xs-12 col-sm-12 pad0">
      <div class=" uni_dash_down">
        <h4 style="text-align:center">GALLERY</h4>
        <div class="col-md-12 uni_pics">
          <%= image_tag("Stanford-1.jpg", :class=>"img-responsive img-thumbnail  ") %>
          <%= image_tag("Stanford-2.jpg", :class=>"img-responsive img-thumbnail  ") %>
          <%= image_tag("Stanford-3.jpg", :class=>"img-responsive img-thumbnail  ") %>
          <%= image_tag("Stanford-4.jpg", :class=>"img-responsive img-thumbnail  ") %>
          <%= image_tag("Stanford-5.jpg", :class=>"img-responsive img-thumbnail  ") %>
       </div>
       <div class="col-xs-12 pull-right">
              <a href="#" class="pull-right"  style="color:#880000;font-family:Geosans Light">Click To See More...</a>
      </div>
    </div>
  </div><!--col-xs-12-->
