<p id="notice"><%= notice %></p>

<p>
  <strong>Degree:</strong>
  <%= @study.degree %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @study.institution %>
</p>

<p>
  <strong>Year:</strong>
  <%= @study.year %>
</p>

<p>
  <strong>Score:</strong>
  <%= @study.score %>
</p>

<p>
  <strong>Sat:</strong>
  <%= @study.SAT %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @study.GPA %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
