<%= form_for(@education) do |f| %>
  <% if @education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
      <% @education.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :degree %><br>
    <%= f.text_field :degree %>
  </div>
  <div class="field">
    <%= f.label :Institute %><br>
    <%= f.text_field :Institute %>
  </div>
  <div class="field">
    <%= f.label :Year %><br>
    <%= f.text_field :Year %>
  </div>
  <div class="field">
    <%= f.label :CGPA %><br>
    <%= f.text_field :CGPA %>
  </div>
  <div class="field">
    <%= f.label :Percentage %><br>
    <%= f.text_field :Percentage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
